/Chapter 5/Ch5Problem9/nbproject/private/
/Chapter 5/Ch5Problem9/build/
/Chapter 5/Ch5Problem10/nbproject/private/
/Chapter 5/RecommendedWeightWithTest/nbproject/private/
/Chapter 5/RecommendedWeightWithTest/build/
/Chapter 5/Ch5Problem12/nbproject/private/
/Chapter 5/Ch5Problem12/build/
/Chapter 5/Ch5Problem17/nbproject/private/
/Chapter 5/Ch5Problem17/build/
/Chapter 5/Ch5Problem15/nbproject/private/
/Chapter 5/Ch5Problem15/build/
/Chapter 6/Ch6Problem7/nbproject/private/
/Chapter 6/Ch6Problem7/build/
