/Chapter 5/Ch5Problem9/nbproject/private/
/Chapter 5/Ch5Problem9/build/
/Chapter 5/Ch5Problem10/nbproject/private/
/Chapter 5/RecommendedWeightWithTest/nbproject/private/
/Chapter 5/RecommendedWeightWithTest/build/
/Chapter 5/Ch5Problem12/nbproject/private/
/Chapter 5/Ch5Problem12/build/
/Chapter 5/Ch5Problem17/nbproject/private/
/Chapter 5/Ch5Problem17/build/
/Chapter 5/Ch5Problem15/nbproject/private/
/Chapter 5/Ch5Problem15/build/
/Chapter 6/Ch6Problem7/nbproject/private/
/Chapter 6/Ch6Problem7/build/
/Chapter 6/Ch6Problem14/nbproject/private/
/Chapter 6/Ch6Problem14/build/
/Chapter 6/Ch6Problem13/nbproject/private/
/Chapter 6/Ch6Problem13/build/
/Chapter 6/Ch6Problem27/nbproject/private/
/Chapter 6/Ch6Problem27/build/
/Chapter 6/Ch6Problem27/dist/
/Chapter 4/Ch6Problem23/nbproject/private/
/Chapter 4/Ch6Problem23/build/
/Chapter 4/Ch6Problem24/nbproject/private/
/Chapter 4/Ch6Problem17/nbproject/private/
/Chapter 4/Ch6Problem17/build/
/Chapter 6/Ch6PRoblem6/nbproject/private/
/Chapter 6/Ch6PRoblem6/build/
/Chapter 7/Ch7Problem13/nbproject/private/
/Chapter 7/Ch7Problem13/build/
/Chapter 7/Ch7Problem14/nbproject/private/
/Chapter 7/Ch7Problem14/build/
/Chapter 7/Ch7Problem15/nbproject/private/
/Chapter 7/Ch7Problem15/build/
